In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
"""
流れ
trainデータとtestデータの読み込み
↓
Xに説明変数、yに目的変数を設定
↓
trainデータをtrainとtestに分ける
↓
こんな感じ
X_train
X_test
y_train
y_test
↓
学習:knn.fit(X_train, y_train)
テスト：knn.score(X_test,y_test)
↓
テストデータ：X_for_submit = test[['Pclass', 'SibSp', 'Parch']]

submit = test[['PassengerId']]
submit['Survived'] = knn.predict(X_for_submit) (predictで予測し、予測した値をsubmitに入れる)

"""

"\n流れ\ntrainデータとtestデータの読み込み\n↓\nXに説明変数、yに目的変数を設定\n↓\ntrainデータをtrainとtestに分ける\n↓\nこんな感じ\nX_train\nX_test\ny_train\ny_test\n↓\n学習:knn.fit(X_train, y_train)\nテスト：knn.score(X_test,y_test)\n↓\nテストデータ：X_for_submit = test[['Pclass', 'SibSp', 'Parch']]\n\nsubmit = test[['PassengerId']]\nsubmit['Survived'] = knn.predict(X_for_submit) (predictで予測し、予測した値をsubmitに入れる)\n\n"

In [3]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")

test.head()
#print(train.info())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
X = train[['Pclass', 'SibSp', 'Parch']]
y = train[['Survived']]

In [5]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)

In [6]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [7]:
knn.score(X_test,y_test)

0.6636771300448431

In [8]:
X_for_submit = test[['Pclass','SibSp','Parch']]
submit = test[['PassengerId']]
submit['Survived'] = knn.predict(X_for_submit)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
submit

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [10]:
X = train[['Pclass', 'SibSp', 'Parch', 'Sex']]
y = train[['Survived']]

In [11]:
X = pd.get_dummies(X, columns=['Pclass', 'Sex'])
X

     SibSp  Parch  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0         0         0         1           0         1
1        1      0         1         0         0           1         0
2        0      0         0         0         1           1         0
3        1      0         1         0         0           1         0
4        0      0         0         0         1           0         1
..     ...    ...       ...       ...       ...         ...       ...
886      0      0         0         1         0           0         1
887      0      0         1         0         0           1         0
888      1      2         0         0         1           1         0
889      0      0         1         0         0           0         1
890      0      0         0         0         1           0         1

[891 rows x 7 columns]

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test,y_test)

/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.7713004484304933

In [13]:
X = train[['Pclass', 'SibSp', 'Parch', 'Sex', 'Fare']]
y = train[['Survived']]

In [14]:
X = pd.get_dummies(X, columns=['Pclass', 'Sex'])
X

     SibSp  Parch     Fare  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0   7.2500         0         0         1           0         1
1        1      0  71.2833         1         0         0           1         0
2        0      0   7.9250         0         0         1           1         0
3        1      0  53.1000         1         0         0           1         0
4        0      0   8.0500         0         0         1           0         1
..     ...    ...      ...       ...       ...       ...         ...       ...
886      0      0  13.0000         0         1         0           0         1
887      0      0  30.0000         1         0         0           1         0
888      1      2  23.4500         0         0         1           1         0
889      0      0  30.0000         1         0         0           0         1
890      0      0   7.7500         0         0         1           0         1

[891 rows x 8 columns]

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test,y_test)

/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8026905829596412

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train_sclaed = scaler.transform(X_train)
X_test_sclaed = scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train_sclaed, y_train)
knn.score(X_test_sclaed,y_test)

/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8385650224215246

In [17]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

ここからした

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [19]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")

#型確認
print(train.dtypes)

#nullがないか確認
print(test.isnull().sum())

#データ確認
train.head()

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
X = train[['Pclass','SibSp','Parch', 'Sex', 'Fare']]
y = train[['Survived']]
#'Pclass','SibSp','Parch', 'Sex', 'Fare', 'Age'

In [21]:
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)

In [22]:
#数値化
X = pd.get_dummies(X, columns=['Pclass','Sex'])
X

     SibSp  Parch     Fare  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0   7.2500         0         0         1           0         1
1        1      0  71.2833         1         0         0           1         0
2        0      0   7.9250         0         0         1           1         0
3        1      0  53.1000         1         0         0           1         0
4        0      0   8.0500         0         0         1           0         1
..     ...    ...      ...       ...       ...       ...         ...       ...
886      0      0  13.0000         0         1         0           0         1
887      0      0  30.0000         1         0         0           1         0
888      1      2  23.4500         0         0         1           1         0
889      0      0  30.0000         1         0         0           0         1
890      0      0   7.7500         0         0         1           0         1

[891 rows x 8 columns]

In [23]:
#数値化を反映したデータに更新
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)

In [24]:
#正規化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#fitパラメータ計算
scaler.fit(X_train)
#transformパラメータを用いて正規化
X_train_sclaed = scaler.transform(X_train)
X_test_sclaed = scaler.transform(X_test)

In [25]:
#学習（ｋ近傍）
from sklearn.neighbors import KNeighborsClassifier
max_n = 0
score = 0
for n in range(1,10):
    knn = KNeighborsClassifier(n_neighbors=n)
    knn.fit(X_train_sclaed, y_train)
    if score < knn.score(X_test_sclaed,y_test):
        score, max_n = knn.score(X_test_sclaed,y_test), n 
        print(score)
        print(max_n)

knn = KNeighborsClassifier(n_neighbors=max_n)
knn.fit(X_train_sclaed, y_train)
knn.score(X_test_sclaed,y_test)

0.8026905829596412
1
0.8475336322869955
2

/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/conda/lib/python3.7/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8475336322869955

In [26]:
#テスト
X_for_submit = test[['Pclass', 'SibSp', 'Parch', 'Sex', 'Fare']]
submit = test[['PassengerId']]

X_for_submit = pd.get_dummies(X_for_submit, columns=['Pclass', 'Sex'])

#nullに平均を入れる
X_for_submit['Fare'] = X_for_submit['Fare'].fillna(X_for_submit['Fare'].mean())

X_for_submit_sclaed = scaler.transform(X_for_submit)

submit['Survived'] = knn.predict(X_for_submit_sclaed)
submit

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

ここからした(サポートベクターマシーン)

In [27]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")

#型確認
print(train.dtypes)

#nullがないか確認
print(test.isnull().sum())

#データ確認
train.head()

X = train[['Pclass','SibSp','Parch', 'Sex', 'Fare']]
y = train[['Survived']]

X = pd.get_dummies(X, columns=['Pclass','Sex'])

X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)

#正規化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#fitパラメータ計算
scaler.fit(X_train)
#transformパラメータを用いて正規化
X_train_sclaed = scaler.transform(X_train)
X_test_sclaed = scaler.transform(X_test)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [28]:
#学習（サポートベクターマシン）
from sklearn.svm import LinearSVC

svc = LinearSVC()
svc.fit(X_train_sclaed, y_train)
svc.score(X_test_sclaed,y_test)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

0.7847533632286996

In [29]:
#テスト
X_for_submit = test[['Pclass', 'SibSp', 'Parch', 'Sex', 'Fare']]
submit = test[['PassengerId']]

X_for_submit = pd.get_dummies(X_for_submit, columns=['Pclass', 'Sex'])

#nullに平均を入れる
X_for_submit['Fare'] = X_for_submit['Fare'].fillna(X_for_submit['Fare'].mean())

X_for_submit_sclaed = scaler.transform(X_for_submit)

submit['Survived'] = knn.predict(X_for_submit_sclaed)
submit

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

ここからした（ランダムフォレスト）

In [30]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")

#型確認
print(train.dtypes)

#nullがないか確認
print(test.isnull().sum())

#データ確認
train.head()

X = train[['Pclass','SibSp','Parch', 'Sex', 'Fare']]
y = train[['Survived']]

X = pd.get_dummies(X, columns=['Pclass','Sex'])

X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=0)

#正規化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#fitパラメータ計算
scaler.fit(X_train)
#transformパラメータを用いて正規化
X_train_sclaed = scaler.transform(X_train)
X_test_sclaed = scaler.transform(X_test)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [31]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(X_train_sclaed, y_train)
clf.score(X_test_sclaed,y_test)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.8251121076233184

In [32]:
#テスト
X_for_submit = test[['Pclass', 'SibSp', 'Parch', 'Sex', 'Fare']]
submit = test[['PassengerId']]

X_for_submit = pd.get_dummies(X_for_submit, columns=['Pclass', 'Sex'])

#nullに平均を入れる
X_for_submit['Fare'] = X_for_submit['Fare'].fillna(X_for_submit['Fare'].mean())

X_for_submit_sclaed = scaler.transform(X_for_submit)

submit['Survived'] = knn.predict(X_for_submit_sclaed)
submit

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

ここからした（）

In [33]:
submit.to_csv('submission.csv', index=False)